$small: "320px";
$phone: "600px";
$tablet: "768px";
$large: "992px";
$extra: "1200px";

$myFont: 'Playfair Display';
$myFont2: 'Nunito Sans', sans-serif;


body{
    background-color:#FCFBFF;
}

header{
    .btn-burger{
        border:none;
    }
}

main{
    font-family: $myFont;
    .we-will{
        color:#dddd !important;
    }
    .container-banner{
        margin-top:39px;
        .banner-text{
            background-color:#244D4D;
            //height: 470px;
            //min-width: 570px;
            h4{
                color:#ffff;
                margin-left:100px;
                font-weight: 900;
                font-size:56px;
                padding-left:100px;
                padding-top:55px;
            }
            p{
                padding-left:98px;
                padding-top:20px;
                color:white;
                font-size:20px;
                font-family: 'Nunito Sans' !important;
                font-weight: 400;
            }
        }
        .img-banner{
            width:991px;
            height:470px;
            //margin-top:100px;
            //margin-left:-10px;
        }
    }
    
    .benefit{
        .container{
            margin-top:150px;
            .garis{
                margin-top:50px;
            }
            .benefit-title{
                h4{
                    color:#242424;
                    font-weight: 900;
                }
            }
            .row-item-benefit{
                .media{
                    .media-body{
                        h5{
                            font-family: 'Nunito Sans' !important;
                            font-weight: 800;
                            font-size:28px;
                        }
                        p{
                            font-family: 'Nunito Sans' !important
                        }
                    }
                }
            }
        }
    }
    .best-experience{
        margin-top:100px;
        .best-img{
            background-size:cover;
            width:450px;
            height:600px;
        }
        .experience-text{
            h4{
                line-height:68px;
                color:#242424;
                font-weight:800;
                font-size:48px;
            }
            p{
                font-size:18px;
                margin-top:20px;
                line-height: 28px;
                color:#595959;
                font-family:$myFont2;
            }
        }
        .experience-info{
            .ex-info{
                h5{
                    font-family: $myFont2;
                    font-size: 50px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 68px;
                    letter-spacing: 0.005em;
                    text-align: left;

                }
                p{
                    font-family: $myFont2;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0.005em;
                    text-align: left;
                }
            }
            .ex-btn{
                //padding-bottom: 30px;
                .btn-ex{
                    margin-top:20px;
                    width: 150px;
                    height: 64px;
                    color:rgba(36, 77, 77, 1);
                    border: 2px solid #244D4D;
                    box-sizing: border-box;
                    font-family: $myFont2;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 25px;
                    &:hover{
                        background-color:rgba(36, 77, 77, 1);
                        color:#ffff;
                    }
                }
            }
        }
    }
    .best-proses{
        margin-top:140px;
        .best-proses-text{
            h4{
                position: absolute;
                font-family:$myFont;
                font-style: normal;
                font-weight: 900;
                font-size: 48px;
                line-height: 68px;
                color: #242424;
            }
            .media{
                .media-body{
                    h5{
                        font-family: $myFont2;
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 38px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                    p{
                        font-family: $myFont2;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px;
                        letter-spacing: 0.005em;
                        text-align: left;
                        color:rgba(89, 89, 89, 1);
                    }
                }
            }
            .media-1{
                margin-top:190px;
            }
        }
    }
    .customer{
        margin-top:140px;
        .customer-text{
            h4{
                font-family: $myFont;
                font-size: 48px;
                font-style: normal;
                font-weight: 800;
                line-height: 68px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
        .carousel-customer{
            margin-top:50px;
            .item{
                .card{
                    padding-left:25px;
                    padding-top:20px;
                    background-color:#244D4D;
                    border:none;
                    color:#ffff;
                    .petik{
                        width:47px;
                        height:34px;
                        margin-top:20px;
                    }
                    h5{
                        margin-top:20px;
                        font-family: $myFont2;
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 41px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                    p{
                        font-family: $myFont2;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px;
                        letter-spacing: 0em;
                        text-align: left;
                        color:rgba(221, 221, 221, 1);
                    }
                    .people{
                        width:60px;
                        height:60px;
                    }
                    .media-customer{
                        padding-bottom:30px;
                        h5{
                            font-family: $myFont2;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 27px;
                            letter-spacing: -0.22484277188777924px;
                            text-align: left;
                        }
                        p{
                            font-family: $myFont2;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 22px;
                            letter-spacing: -0.22484277188777924px;
                            text-align: left;
                            color:rgba(221, 221, 221, 1);
                        }
                    }
                }
            }
        }
    }
    .sub{
        margin-top:100px;
        .sub-text{
            h4{
                font-family: $myFont;
                font-size: 48px;
                font-style: normal;
                font-weight: 800;
                line-height: 68px;
                letter-spacing: 0em;
                text-align: center;
                color:rgba(36, 36, 36, 1);
            }
            p{
                font-family: $myFont2;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: center;
                color: rgba(89, 89, 89, 1);
            }
        }  
        .form-email{
            background-color:#ffff;
            //border:1px solid black;
            height:100px;
            .btn-sub{
                margin-left:-20px;
                border-radius:0;
                width: 170px;
                height: 74px;
                margin-top:13px;
                font-family: $myFont2;
                background-color:#244D4D;
                color:#ffff;
                &:hover{
                    background-color:#103E3E;
                    color:#ffff;
                }
            }
            .border-text{
                font-family: $myFont2;
                border:none;
            }
            .jarak-content1{
                margin-top:33px;
            }
        }
    }
}

footer{
    padding-bottom: 30px;
    //background-color:#233443;
    background: rgba(35, 52, 67, 1);
    color:#ffff;
    margin-top:-10px;
    .container{
        padding-top:30px;
    }
    ul li{
        list-style: none;
    }
    .fot-logo{
        font-family: $myFont;
        font-size: 34px;
        font-style: normal;
        font-weight: 600;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: left;
    }
    .fot-txt-1{
        font-family: $myFont2;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
    }
    .fot-txt-2{
        font-family: $myFont2;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 26px;
        letter-spacing: 0.005em;
        text-align: left;
        color: rgba(221, 221, 221, 1);
    }
}

//kalo min width itu 
/* If the screen size is 601px or more */

//kalo max-width 
/* If the screen size is 320px or less*/

/* If the screen size is 320px or less*/
@media only screen and (max-width: $small){
    .ic-burger{
        display: none;
    }
    main{
        .banner{
            .banner-text{
                h4{
                    font-size:38px;
                    margin-left:-60px;
                    //text-align: center;
                }
                p{
                    font-size:16px;
                    margin-left:-60px;
                    //text-align: center;
                }
            }
        }
        .benefit{
            .benefit-title{
                h4{
                    font-size:38px;
                }
            }
        }
        .best-proses{
            .container{
                .media-1{
                    margin-top:400px;
                }
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
//batas besarnya 600 ato kurang & kalo screen 320 ato lebih (600-320)
@media only screen and (max-width: $phone) and (min-width: $small){
    .ic-burger{
        display: none;
    }
    main{
        .banner{
            .banner-text{
                h4{
                    font-size:38px;
                    margin-left:-60px;
                    //text-align: center;
                }
                p{
                    font-size:16px;
                    margin-left:-60px;
                    //text-align: center;
                }
            }
        }
        .benefit{
            .benefit-title{
                h4{
                    font-size:38px;
                }
            }
        }
        .best-proses{
            .container{
                .media-1{
                    margin-top:300px;
                }
            }
        }
    }
    footer{
        padding-top:-300px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
//screen nya 600 ato lebih  sampe sini
@media only screen and (min-width: $phone) {
    .ic-burger{
        display: none;
    }
    main{
        .banner{
            .banner-text{
                h4{
                    //margin-left:-30px;
                    //text-align: center;
                    font-size:46px;
                    //margin-right:100px;
                    //margin-right:300px;
                    margin-left:-100px;
                    text-align: center;
                    //border:1px solid black;
                }
                p{
                    margin-left:-100px;
                    text-align: center;
                }
            }
        }
        .benefit{
            .benefit-title{
                h4{
                    //color:#ffff;
                    //text-decoration:underline;
                    font-size:48px;
                }
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
//screen nya 768 ato lebih
@media only screen and (min-width: $tablet) {
    .ic-burger{
        display: none;
    }
    main{
        .container-banner{
            .banner-text{
                h4{
                    //text-align:center;
                    margin:0;
                    padding:0;
                    padding-top:25px;
                    font-size:44px;
                }
                p{
                    text-align:center;
                    margin:0;
                    padding:0;
                    padding-top:10px;
                    padding-bottom:50px;
                }
            }
            .banner-img{
                margin:0;
                padding:0;
                margin-top:-30px;
            }
        }
        .benefit{
            .benefit-title{
                h4{
                    font-size:48px;
                }
            }
        }
        .customer{
            .item{
                .card{
                    min-height:400px;
                }
            }
        }
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
//klo screen 992 ato lebih
@media only screen and (min-width: $large) {
    .ic-burger{
        display:block;
    }
    main{
        .banner-text{
            height: 470px;
            min-width: 570px;
            position: absolute;
            z-index: 1;
            margin-left:-16px;
            margin-top:90px;
            h4{
                text-align:left;

            }
        }
        .img-banner{
            margin-top:160px;
            margin-left:-10px;
        }
        .customer{
            .item{
                .card{
                    min-height:450px;
                    //padding-bottom:50px;
                }
            }
        }
        .sub{
            .sub-text{
                width:100%;
                //border:1px solid blue;
                h4{
                    //border:1px solid black;
                    width:700px;
                }
                p{
                    width:550px;
                }
            }
            .form-email{
                .button-subs{
                    margin-left:-30px;
                }
                //button{
                //    margin:0;
                //    padding:0;
                //    margin-left:-30px;
                //    padding-left:-30px;
                //}
            }
        }
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
//klo screen 1200 ato lebih
@media only screen and (min-width: $extra) {
    .ic-burger{
        display: block;
    }
    .banner-text{
        position: absolute;
        z-index: 1;
        margin-left:-16px;
        margin-top:50px;
        min-height: 470px;
        width: 570px;
        h4{
            padding-top:100px !important;
            text-align: left !important; 
            //color: !important;
            margin-left:100px !important;
        }
        p{
            text-align: left !important;
            margin-left:100px !important;
        }
    }
    .img-banner{
        margin-top:100px;
        margin-left:-10px;
        //margin-left:-300px;
    }
}
